---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import Members from "~/components/Members.astro";
import Article from "~/components/Article.astro";
---

<Layout>
	<Section class:list={'bg-white'}>
		<Container>
			<Heading>
				<h1 slot="heading-title" class="font-black text-teal-500 h2">About Us</h1>
				<p slot="heading-content">
					At our studio, nail art is more than beauty — it’s a form of self-expression. We believe that creativity knows no limits, and every set of nails tells a unique story.
<br>Our team of passionate and skilled nail artists is dedicated to turning your vision into reality — with precision, care, and an eye for detail. Whether it’s bold and daring or soft and subtle, we’re here to bring your individuality to life through art.
<br>We’re proud to be a part of a vibrant community that values creativity, quality, and innovation. Every client who walks through our doors inspires us to push boundaries and celebrate the art of nails in all its forms.
<br>Let your nails speak your style — and let us be part of that journey.
				</p>
			</Heading>

			<Members />
		</Container>
	</Section>

	<Section class:list={'bg-white'}>
		<Container>
			<Article>
				<h2 class="font-bold text-teal-500 h3">Our Story</h2>
				<p>
					Our journey began with a simple belief — that nails are more than just beauty; they’re a form of self-expression. What started as a love for color, detail, and creativity has grown into a full-fledged nail art studio where artistry meets precision.
<br>Founded by <strong class="font-bold text-teal-500">Izabella</strong>, our studio was created to break boundaries and inspire confidence through unique nail designs. Whether it’s minimalist elegance or bold, experimental art, we believe every set of nails tells a story — your story.
				</p>
				<h2 class="font-bold text-teal-500 h3">Our Mission</h2>
				<p>
					To provide a luxurious and personalized nail experience, enhancing beauty and well-being.
				</p>
				<h2 class="font-bold text-teal-500 h3">Become an Ambassador</h2>
				<p>
					Are you passionate about nails and love sharing your style on social media? Apply to become a brand ambassador and represent our studio! Enjoy exclusive perks, early access to new collections, and be featured on our platforms.
				</p>
			</Article>
		</Container>
	</Section>
</Layout>
