---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import FormContact from "~/components/forms/FormContact.astro";
import Map from "~/components/Map.astro";
import TableHours from "~/components/TableHours.astro";
import Address from "~/components/Address.astro";
---

<Layout>
	<Section>
		<Container>
			<div class="grid grid-cols-1 gap-8 lg:gap-16 xl:gap-24 lg:grid-cols-2">
				<div>
					<Heading>
						<h2 slot="heading-title" class="h2">Contact</h2>
						<p slot="heading-content">Need assistance?<br>
Drop us an email with your questions or inquiries—we’ll get back to you as soon as we can!.</p>
					</Heading>

					<FormContact />
				</div>

				<div>
					<Heading>
						<h2 slot="heading-title" class="h2">Location &amp; Hours</h2>
						<div slot="heading-content">
							<Address />
							<TableHours />
						</div>
					</Heading>
					<Map />
				</div>
			</div>
		</Container>
	</Section>
</Layout>
