---
import catNames from "~/data/names.json";
const { title = "", link } = Astro.props;
---

<div id="cat-generator-wrapper" class="flex flex-col items-center gap-8 max-w-4xl w-full mx-auto">
	<h2 class="text-white text-center">{title}</h2>

	<div class="max-w-md w-full mx-auto flex items-center gap-x-4">
		<label for="generator" class="sr-only">Generated cat name</label>
		<input type="text" name="generator" id="cat-generator-input" readonly value="Captain Steve" />
		<button class="button button-teal" id="button-generate-name" aria-label="Generate a new cat name">
			<svg xmlns="http://www.w3.org/2000/svg" class="size-7 origin-center" viewBox="0 0 24 24" id="dice-icon">
				<path
					d="M21 16.5a1 1 0 0 1-.527.881l-7.907 4.443a.996.996 0 0 1-1.132 0l-7.907-4.443A1 1 0 0 1 3 16.5v-9a1 1 0 0 1 .527-.881l7.907-4.443a.995.995 0 0 1 1.132 0l7.907 4.443A1 1 0 0 1 21 7.5v9zM5.5 14.316c-.552-.313-1-.118-1 .434s.448 1.253 1 1.566c.552.313 1 .118 1-.434s-.448-1.253-1-1.566zm0-4c-.552-.313-1-.118-1 .434s.448 1.253 1 1.566c.552.313 1 .118 1-.434s-.448-1.253-1-1.566zm4 6.264c-.552-.313-1-.118-1 .434s.448 1.253 1 1.566c.552.312 1 .118 1-.434c0-.553-.448-1.254-1-1.566zm-2-3.132c-.552-.313-1-.118-1 .434s.448 1.253 1 1.566c.552.312 1 .118 1-.434c0-.553-.448-1.254-1-1.566zm2-.868c-.552-.313-1-.119-1 .434c0 .552.448 1.253 1 1.566c.552.312 1 .118 1-.434c0-.553-.448-1.254-1-1.566zm9 1.736c-.552.313-1 1.014-1 1.566s.448.746 1 .434c.552-.313 1-1.014 1-1.566s-.448-.747-1-.434zm0-4c-.552.313-1 1.014-1 1.566s.448.747 1 .434s1-1.014 1-1.566s-.448-.747-1-.434zm-4 6.264c-.552.312-1 1.014-1 1.566s.448.746 1 .434c.552-.313 1-1.014 1-1.566s-.448-.747-1-.434zm0-4c-.552.312-1 1.014-1 1.566s.448.746 1 .434c.552-.313 1-1.014 1-1.566s-.448-.747-1-.434zm1.992-4.81c.547-.321.602-.806.124-1.082s-1.31-.24-1.856.083c-.547.322-.602.807-.124 1.083c.478.276 1.31.239 1.856-.083zm-7.425.333c.547-.322.603-.807.124-1.083c-.478-.276-1.309-.239-1.856.083c-.547.322-.602.807-.124 1.083c.478.276 1.31.24 1.856-.083zm3.713-.166c.546-.322.602-.807.124-1.083c-.479-.276-1.31-.239-1.857.083c-.546.322-.602.807-.124 1.083c.479.276 1.31.239 1.857-.083z"
					fill="currentColor"></path></svg
			>
		</button>
	</div>

	<div id="names" data-names={JSON.stringify(catNames)}></div>
</div>

<script>
	document.addEventListener("astro:page-load", () => {
		const catGeneratorWrapper = document.getElementById("cat-generator-wrapper");

		if (catGeneratorWrapper) {
			const button = document.getElementById("button-generate-name")! as HTMLButtonElement;
			const input = document.getElementById("cat-generator-input")! as HTMLInputElement;
			const names = JSON.parse(document.getElementById("names")!.dataset.names!);
			const diceIcon = document.getElementById("dice-icon")!;

			if (names) {
				input.addEventListener("click", () => {
					input.select();
				});

				button.addEventListener("click", () => {
					const firstName = names.firstNames[Math.floor(Math.random() * names.firstNames.length)];
					const lastName = names.lastNames[Math.floor(Math.random() * names.lastNames.length)];
					input.value = `${firstName} ${lastName}`;

					diceIcon.classList.add("animate");

					setTimeout(() => {
						diceIcon.classList.remove("animate");
					}, 1000);
				});
			}
		}
	});
</script>

<style>
	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.animate {
		animation: rotate 1s linear;
	}
</style>
