---
import { siteName } from "~/data/config";
import SocialMediaIcons from "./SocialMediaIcons.astro";
const currentYear = new Date().getFullYear();
---

<footer class="bg-gradient-to-r from-fuchsia-500 to-teal-500 text-white">
	<div class="py-12 md:flex md:items-center md:justify-between container">
		<div class="flex justify-center gap-x-6 md:order-2 [&_svg]:text-white">
			<SocialMediaIcons />
		</div>
		<p class="mt-10 max-md:text-center text-base">
			&copy; {currentYear}
			{siteName}. All rights reserved.<br />
			<a class="underline" href="/privacy-policy">Privacy policy</a>
		</p>
	</div>
</footer>
