---
const { invert = false } = Astro.props;
const left = invert ? 'col-span-1 lg:col-span-2 lg:order-2' : 'col-span-1 lg:col-span-2 lg:order-1';
const right = invert ? 'col-span-1 lg:col-span-3 lg:order-1' : 'col-span-1 lg:col-span-3 lg:order-2';
---

<div class="hero grid grid-cols-1 lg:grid-cols-5 gap-8 lg:gap-16 lg:items-center">
	<div class={left}>
		<Fragment>
			<slot name="hero-content-left" />
		</Fragment>
	</div>
	<div class={right}>
		<Fragment>
			<slot name="hero-content-right" />
		</Fragment>
	</div>
</div>
