---
import { getEntries } from "astro:content";
import CardBlogPost from "./CardBlogPost.astro";
const { posts = [] } = Astro.props;
const postEntries = await getEntries(posts.map((id: string) => ({ collection: "blog", id: id })));
---

<div>
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-16 xl:gap-24">
		{postEntries.map((post) => <CardBlogPost post={post} />)}
	</div>
</div>
