---
import { getEntries } from "astro:content";
import CardCat from "./CardCat.astro";
const { cats = [] } = Astro.props;
const catEntries = await getEntries(cats.map((id: string) => ({ collection: "cats", id: id })));
---

<div>
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-16 xl:gap-24">
		{catEntries.map((cat) => <CardCat cat={cat} />)}
	</div>
</div>
