---
import { hours } from "../data/config.js";
---

<table class="border-collapse border-0 max-w-xs text-base">
	<tbody>
		{
			Object.entries(hours).map(([day, time]) => (
				<tr class="border-0">
					<td class="border-0 p-0">{day.charAt(0).toUpperCase() + day.slice(1)}</td>
					<td class="border-0 p-0">{time}</td>
				</tr>
			))
		}
	</tbody>
</table>
